<script src="js/jquery.knob.js"></script>

<div class="row">
  <% totalsensors = Configs['tempsensors']['locations'].length %>
  <% Configs['tempsensors']['locations'].each do |sensor| %>
    <div class="panel panel-default col-lg-<%= 12 / totalsensors %> col-xs-<%= 24 / totalsensors %>">
      <center>
      <%= sensor %>
        <h2><span><%= check_value(sensor + '-temperature') %></span>F</h2>
      </center>
    </div>
  <% end %>
  <div class="panel panel-default col-lg-3 col-md-3 col-xs-6">
    <center>
    outside
    <% weather_outside = weather(90014).split(',') %>
    <h2><span><%= weather_outside[0] %></span></h2>
    </center>
  </div>
</div>

<div class="row" id='control'>
    <div class="col-lg-12 col-md-12 col-xs-12 btn-group" id="buttoncontrol">
    </div>

  <div class="col-lg-6 col-md-6 col-xs-12" id='knobcontrol' style="margin-top: 20px">
  </div>

  <div class="col-lg-6 col-md-6 col-xs-12" id='control' style="margin-top: 20px">
    <div class="panel panel-default col-lg-12 col-md-12 col-xs-12" id="history">
    <div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#knobcontrol").load('/buttoncontrol/tempknob');
    $("#history").load('/hvac/historical');
    $("#buttoncontrol").load('/buttoncontrol/hvac');
    var interval = setInterval("updatetemp()", 500);
    var interval1 = setInterval("updatebuttons();", 5000);
    var interval2 = setInterval("updatelog();", 200);
    var knobupdate = setInterval("knobupdate();", 2000);
  });

  function updatetemp() {
    $(".temp-bedpi").load('/temperature/bedpi');
    $(".temp-pistat").load('/temperature/pistat');
    $(".temp-vent").load('/temperature/bedside');
    console.log('updated temp in crib');
  };
  function updatebuttons() {
    $("#buttoncontrol").load('/buttoncontrol/hvac');
    console.log('updated buttons');
  };
  function updatelog() {
    $("#history").load('/hvac/historical');
    console.log('updated temp');
  };
  function knobupdate() {
    $("#knobcontrol").load('/buttoncontrol/tempknob');
    console.log('updated temp knob');
  };
</script>
