<script src="js/jquery.knob.js"></script>

<div class="row">
  <div>
    <center>
    <font size="100em"><bold><span class="temp"><%= check_value('bedpi-temperature') %></span></bold> F</font>
    </center>
  </div>
</div>

<div class="row" id='control' style="margin-top: 30px">
    <div class="col-lg-12 col-md-12 col-xs-12 btn-group" id="buttoncontrol">
      <center>
        <button type="button" style="width: 50%" class="btn btn-lg <%= check_state('thermostat') == 'off' ? 'btn-danger' : 'btn-success' %> dropdown-toggle" data-toggle="dropdown">
          <%= check_state('thermostat') == 'off' ? 'heater and a/c' : check_state('thermostat') %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/thermostat/air-conditioner">a/c</a></li>
          <li><a href="/thermostat/heater">heater</a></li>
          <li><a href="/maintain/enforce/on">maintain:</a></li>
          <li><a href="/thermostat/off">off</a></li>
        </ul>
      </center>
    </div>
</div>

  <div class="row" id='control' style="margin-top: 20px">
    <div class="col-lg-12 col-md-12 col-xs-12 btn-group">
      <center>
      <input type="text" class="dial" value="<%= check_value('maintain-temp') == "unknown" ? 76 : check_value('maintain-temp') %>" data-rotation="anticlockwise" data-min="60" data-max="85" data-displayPrevious=true>
      <%= "<h3>maintaining temperature</h3>" if check_state('maintain') == 'on' %>
      </center>
    </div>
  </div>

  <div class="row" id='control' style="margin-top: 20px">
    <div class="col-lg-12 col-md-12 col-xs-12 btn-group" id="history">
    <div>
  </div>
<script>
$(function() {
  $(".dial").knob({
    'release': function(temperature) {
      jQuery.post('/maintain/temp', {temp: temperature});
    }
  });
});
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#history").load('/thermostat/historical');
    var interval = setInterval("updatetemp()", 500);
    var interval1 = setInterval("updatebuttons();", 5000);
  });

  function updatetemp() {
    $(".temp").load('/temperature/bedpi');
    console.log('updated temp');
  };
  function updatebuttons() {
    $("#buttoncontrol").load('/buttoncontrol');
    $("#history").load('/thermostat/historical');
    console.log('updated buttons');
  };
</script>
