<div class="row">

  <div class="col-md-8">
    <% Configs['devices']['433Mhz'].sort.each do |device| %>
      <div class="col-md-6 col-xs-6"->
        <form action='/flip/<%= device %>' method='post'>
          <input type="submit" style="width: 100%;" class="btn btn-lg <%= power_current_state(device) == 'on' ? 'btn-success' : 'btn-danger' %>" value="<%= device %>">
        </form>
      </div>
    <% end %>
    <div class="col-md-6 col-xs-6"->
      <form action='/locator/<%= locator_get_state == 'on' ? 'off' : 'on' %>' method='post'>
        <input type="submit" style="width: 100%;" class="btn btn-lg <%= locator_get_state == 'on' ? 'btn-success' : 'btn-danger' %>" value="locator">
      </form>
    </div>
    
    <div class="col-md-6 col-xs-6"->
      <form action='/snap/enforce/<%= camera_get_state ? 'false' : 'true' %>' method='post'>
        <input type="submit" style="width: 100%;" class="btn btn-lg <%= camera_get_state ? 'btn-success' : 'btn-danger' %>" value="camera sync">
      </form>
    </div>

    <div class="col-md-6 col-xs-6"->

      <form action='/switch/all/on' method='post'>
        <input type="submit" style="width: 100%" class="btn btn-info" value="all on">
      </form>
    </div>

    <div class="col-md-6 col-xs-6"->
      <form action='/switch/all/off' method='post'>
        <input type="submit" style="width: 100%" class="btn btn-info" value="all off">
      </form>
    </div>

    <div class="col-md-6 col-xs-6"->
      <form action='/jam/force' method='post'>
        <input type="submit" style="width: 100%" class="btn btn-lg btn-info" value="play a jam">
      </form>
    </div>
    
    <div class="col-md-6 col-xs-6 btn-group"->
        <button type="button" style="width: 100%" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown">
          stereo input <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% input = 0 %>
          <% Configs['stereo']['names'].size.times do %>
            <li><a href="/stereo/input/<%= input %>"><%= Configs['stereo']['names'][input] %></a></li>
            <% input+=1 %>
          <% end %>
        </ul>
    </div>
    
    
  </div>

  <div class="col-md-4">
    <div class="panel panel-default col-xs-12">
      <div class="panel-body">
        <h4>the stereo is tuned to <%= Configs['stereo']['names'][input_get_state] %>.</h4>
        <h4>lo is <%= lo_home? ? "in the crib" : "gone" %>.</h4>
      </div>
    </div>
    <% if @steps_alert =~ /FAIL/ %>
      <div class="panel panel-default col-xs-12"> 
        <div class="panel-heading">
          <h3 class="panel-title"><font color="red">
            <%= @steps_alert %> <span class="glyphicon glyphicon-thumbs-down"></span>
          </font></h3>
         </div>
    
        <div class="progress progress-striped active">
          <div class="progress-bar"  role="progressbar" aria-valuenow="<%= steps_today %>" aria-valuemin="0" aria-valuemax="<%= steps_goal %>" style="width: <%= steps_today_percent %>%">
        </div>
      </div>

      <h3><span class="label label-lg label-warning">pending punishment</span></h3>
      <ul class="list-group">
        <% Configs['punishments'].each do |time,punishment| %>
          <li class="list-group-item">
            <%= time %>:00
	    <% punishment['devices'].each do |device| %>
	      <span class="label label-default"><%= device %></span> 
            <% end %>
	    <span class="label label-primary"><%= punishment['state'] %></span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="panel panel-default col-xs-12"> 
        <div class="panel-heading">
          <h3 class="panel-title"><font color="green">
            <%= @steps_alert %> <span class="glyphicon glyphicon-thumbs-up"></span>
          </font></h3>
        </div>
      </div>
    <% end %>
    </div>
    </div>

</div>
