<div class="row">

  <div class="col-lg-6">
    <% Configs['devices']['433Mhz'].sort.each do |device| %>
      <form action='/flip/<%= device %>' method='post'>
	<input type="submit" style="width: 100%" class="alert <%= power_current_state(device) == 'on' ? 'alert-success' : 'alert-danger' %>" value="<%= device %>">
      </form>
    <% end %>
    
    <form action='/locator/<%= locator_get_state == 'on' ? 'off' : 'on' %>' method='post'>
      <input type="submit" style="width: 100%" class="alert <%= locator_get_state == 'on' ? 'alert-success' : 'alert-danger' %>" value="locator">
    </form>

    <form action='/switch/all/on' method='post'>
      <input type="submit" style="width: 100%" class="btn btn-lg btn-success" value="all on">
    </form>

    <form action='/switch/all/off' method='post'>
      <input type="submit" style="width: 100%" class="btn btn-lg btn-danger" value="all off">
    </form>
    
  </div>

  <div class="col-lg-4">
    <h2>
      <span class="label label-primary">lo is <%= lo_home? ? "in the crib" : "gone" %></span>
    </h2>
    
    <% if @stepstoday =~ /FAIL/ %>
      <h2><font color="red"><%= @stepstoday %></font></h2>
    
      <div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" aria-valuenow="<%= steps_today %>" aria-valuemin="0" aria-valuemax="<%= steps_goal %>" style="width: <%= steps_today_percent %>%">
        </div>
      </div>

      <h2><span class="label label-warning">pending punishment</span></h2>
      <% Configs['punishments'].each do |time,punishment| %>
        <p>
          <%= time %>:00
	  <% punishment['devices'].each do |device| %>
	    <span class="label label-default"><%= device %></span> 
          <% end %>
	  <span class="label label-primary"><%= punishment['state'] %></span>
        </p>
      <% end %>
    <% else %>
      <h2><font color="green"><%= @stepstoday %></font></h2>
    <% end %>
    </div>

</div>
