<div class="row">

  <div class="col-lg-6" style="padding: 3em">
    <% Configs['devices']['433Mhz'].sort.each do |device| %>
      <form action='/flip/<%= device %>' method='post'>
	<input type="submit" style="width: 100%" class="alert <%= power_current_state(device) == 'on' ? 'alert-success' : 'alert-danger' %>" value="<%= device %>">
      </form>
    <% end %>

    <form action='/switch/all/on' method='post'>
      <input type="submit" style="width: 100%" class="btn btn-lg btn-success" value="all on">
    </form>

    <form action='/switch/all/off' method='post'>
      <input type="submit" style="width: 100%" class="btn btn-lg btn-danger" value="all off">
    </form>

  </div>

  <div class="col-lg-3" style="padding: 3em">
    <h2><font color="<%= @stepstoday =~ /FAIL/ ? 'red' : 'green' %>"><%= @stepstoday %></font></h2>
    
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="<%= steps_today %>" aria-valuemin="0" aria-valuemax="<%= steps_goal %>" style="width: <%= steps_today_percent %>%">
      </div>
    </div>

    <h2><span class="label label-danger">pending punishment</span></h2>
    <% Configs['punishments'].each do |time,punishment| %>
      <p>
      <strong><%= time %>:00 </strong>
	<% punishment['devices'].each do |device| %>
	  <span class="label label-default"><%= device %></span> 
        <% end %>
	<span class="label label-primary"><%= punishment['state'] %></span>
      </p>
    <% end %>
  </div>

</div>
