    <div class="panel panel-default col-xs-12">
      <div class="panel-body">
        <h4>lo is <%= lo_location %>.</h4>
        <p>front door last opened <%= Time.at(check_update_unixtime('frontdoor')).ctime %></p>
        <p>vpn response: <%= vpn_response_time %></p>
      </div>
    </div>
    <div class="panel panel-default col-xs-12">
      <table class="table table-condensed table-bordered">
        <tr>
          <th>traffic direction</th>
          <th>time (mins)</th>
        </tr>
        <% ['home', 'work'].each do |direction| %>
          <tr>
            <td><%= direction %></td>
            <td><%= traffic('to_' + direction) %></td>
          </tr>
        <% end %>
        <tr>
          <th>location</th>
          <th>temp (F)</th>
        </tr>
        <% Configs['weather']['zips'].each do |zip| %>
          <tr>
            <td><%= zip %></td>
            <td><%= weather(zip) %></td>
          </tr>
        <% end %>
        <% Configs['tempsensors']['locations'].each do |sensor| %>
          <tr>
            <td><%= sensor %></td>
            <td><%= check_value('temperature-' + sensor) %></td>
          </tr>
        <% end %>
      </table>
      <%= check_value('maintain') == 'on' ? "maintaining temp #{check_value('maintain-temp')}F" : ""%>
    </div>

    <div class="panel panel-default col-xs-12">
      <div class="panel-heading"><%= steps_today %> steps</div>

      <% if steps_alert =~ /FAIL/ %>
        <div class="panel-body">
          <h3 class="panel-title"><font color="red">
            <%= @steps_alert %> <span class="glyphicon glyphicon-thumbs-down"></span>
          </font></h3>
        </div>

        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="<%= steps_today %>" aria-valuemin="0" aria-valuemax="<%= steps_goal %>" style="width: <%= steps_today_percent %>%"></div>
        </div>
      <% else %>
        <div class="panel-body">
          <h3 class="panel-title"><font color="green">
            <%= @steps_alert %> <span class="glyphicon glyphicon-thumbs-up"></span>
          </font></h3>
        </div>
      <% end %>

      <% if check_state('punishments') == 'on' %>
        <%= steps_alert =~ /FAIL/ ? "pending" : "avoided" %> punishment
        <table class="table table-condensed table-bordered">
          <tr>
            <th>time</th>
            <th>devices</th>
            <th>state</th>
          </tr>
          <% Configs['punishments'].each do |time,punishment| %>
            <tr>
              <td><%= time %>:00</td>
              <td>
                <% punishment['devices'].each do |device| %>
                  <%= device %>
                <% end %>
              </td>
              <td><%= punishment['state'] %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      </div>
    </div>

